<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web/dist/material-components-web.min.css">
    <title>Google</title>
    <link href="Style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div style="min-width: 960px; margin: 0 auto;">
        <ul class=navigation>
            <li><a href="https://mail.google.com/mail/?tab=wm">Gmail</a></li>
            <li><a href="https://www.google.pl/imghp?hl=pl&tab=ri">Grafika</a></li>
            <li><span class="FA1"><i class="fas fa-th fa-lg"></i></span></li>
            <li>
                <button class="butti" onclick="window.location.href = 'https://accounts.google.com/signin';">Zaloguj się</button>
            </li>
        </ul>
        <img class="logo" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Logo" width="272" height="92">
        <div class="inputfield">
            <div class="main">
                <input v-model="inputContent" />
                <v-autocompleter v-bind:input="inputContent" v-if="inputContent"></v-autocompleter>

                <span class="FA2">
                    <i class="fas fa-search" v-if="!inputContent"></i>
                </span>
                <span class="FA4">
                    <i class="fas fa-keyboard" v-if="!inputContent">
                        <span class="tooltip4" >Narzędzia do wprowadzania tekstu</span>
                    </i>
                </span>
                <span class="FA3">
                    <i class="fas fa-microphone" v-if="!inputContent">
                        <span class="tooltip3">Wyszukiwanie głosowe</span>
                    </i>
                </span>
                <div class="buttonMD1">
                    <button class="foo-button mdc-button"  onclick="window.location.href = 'google.com';">Szukaj w Google</button>
                </div>
                <div class="buttonMD2">
                    <button class="foo-button mdc-button"  onclick="window.location.href = 'https://www.google.com/doodles/';">Szczęśliwy traf</button>
                </div>
            </div>
            </div>



        <div class=grid-container>
            <ul class=foot1>
                <li><a href="https://ads.google.com">Reklamuj się</a></li>
                <li><a href="www.google.com/services">Dla firm </a></li>
                <li><a href="about.google">O nas</a></li>
            </ul>
            <ul class=foot2>
                <li><a href="policies.google.com/privacy">Prywatność</a></li>
                <li><a href="policies.google.com">Warunki</a></li>
                <li><a href="www.google.com/preferences">Ustawienia</a></li>
            </ul>
            <div class=item3>Polska</div>
        </div>
        <script src="animals.js"></script>
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="ggle2.js"></script>
</body>
</html> 